.app {
    height: 100vh;
    width: 100vw;
}

.sidebar {
    height: 100%;
    width: 250px;
    min-width: 250px;
    float: left;
    background-color: #22272e;
}

.main {
    margin-left: 250px;
}

.card {
    background-color: #22272e;
}

.prod-card {
    background-color: #22272e;
    padding: 1em;
}

.prod-card input {
    color: black;
    padding: 0.3em;
}

.dash-card {
    background-color: #22272e;
    padding: 1em;
}

.table-striped-rows tr:nth-child(2n) td {
    background-color: #22272e;
}
.table-striped-rows thead {
    background-color: #7e4798;
}
